#form {
    padding-top: 15px;
    padding-left: 20px;
}

#form input {
    margin-top: 10px;

    padding-left: 5px;

    width: 300px;
    height: 35px;
}

#form button {
    margin-top: 10px;
    border-color: white;
}